.navbar-default {
  border-radius: 0px;
  background-color: #fff;
}
.tickit-logo {
  width: 4rem;
}
.bootstrap-link {
  //make the logged in nav message look like the other links in the nav
  color: #777;
  padding: 15px;
  line-height: 20px;
  font-style: italic;
}
