.navbar-default {
  border-radius: 0px;
  background-color: #fff;
}
.tickit-logo {
  width: 4rem;
}
.bootstrap-link-padding {
  //align the logged in message with the links in the nav
  padding-top: 15px;
  padding-bottom: 15px;
}
