html, body {
  height: 100%;
  font-size: 16px;
}
body {
  background-color: #1dadef;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
p {
  display: inline-block;
  max-width: 500px;
}
.btn {
  font-size: 1rem;
}

.btn-default {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1dadef;
  }
}

.alert {
  -webkit-animation: alert-fade 0.7s 1 forwards 2s;
  animation: alert-fade 0.7s 1 forwards 2s;
}

@keyframes alert-fade{
from {opacity :1;}
to {opacity :0;}
}

@-webkit-keyframes alert-fade{
from {opacity :1;}
to {opacity :0;}
}
