html, body {
  height: 100%;
  font-size: 16px;
}
body {
  background-color: #1dadef;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
p {
  display: inline-block;
  max-width: 500px;
}
h2 {
  font-size: 2rem;
}
.form.container {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
  color: #fff;
  h2 {
    font-family:'Raleway', sans-serif;
    font-weight: 300;
  }
  a {
    color: #fff;
  }
  form {
    margin: 3rem 0;
  }
  label {
    font-weight: 300;
    margin: 0.5rem 0;
    font-size: 1.3rem;
  }
  input[type=text], input[type=email], input[type=password] {
    border-radius: 3px;
    border: none;
    border-bottom:4px solid transparent;
    padding: 10px;
    text-align:center;
    min-width: 20rem; //may have to make this a bit smaller for really small devices, do some testing and find out
    &:focus {
      outline:none;
      border-bottom: 4px solid #efe15e;
    }
  }
  input[type=submit] {
    min-width: 10rem;
    color: #fff;
    &:hover {
      color: #1dadef;
    }
  }
  h2, form {
   text-align: center;
  }
  input {
    color: #333;
  }
  div.actions { //reset password button
    margin-top: 2rem;
  }
}

.btn, input[type=submit] {
  font-size: 1rem;
  padding: 10px;
}

.btn-default, input[type=submit] {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #1dadef;
    border: 2px solid #fff;
  }
}

.show-small {
  display:none;
  @media (max-width: 767px) {
    display:inline;
  }
}
.show-large {
  display: none;
  @media (min-width: 767px) {
    display: inline;
  }
}

.alert {
  -webkit-animation: alert-fade 0.7s 1 forwards 2s;
  animation: alert-fade 0.7s 1 forwards 2s;
  position: absolute;
  top:0;
  left:0;
}

@keyframes alert-fade{
from {opacity : 1;}
to {opacity : 0;}
}

@-webkit-keyframes alert-fade{
from {opacity : 1;}
to {opacity : 0;}
}
