// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-container {
  width: 75%;
  position: relative;
  top: 35%;
  transform: translateY(-35%);
  margin: 0 auto;
  color: #fff;
  h1 {
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    line-height: 0.9;
    max-width: 600px;
  }
  p {
    font-size: 1.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 700px;
  }
  a {
    color: #fff;
    font-style: italic;
    &:hover, &:focus {
      color: #fff;
    }
  }
}
